# 🔐 Environment files
.env
.env.*

# 📦 Node dependencies
node_modules/
functions/node_modules/

# 🏗 Build & dist folders
dist/
build/

# 🧪 Logs & debug
*.log
firebase-debug.log

# 🧠 Editor/IDE configs
.vscode/
.idea/
*.swp

# 💾 System files
.DS_Store
Thumbs.db

# 🔥 Firebase local configs
.firebaserc.local

# 📤 Exported configs
ticket-checker-config.json
